/* Navbar */
.premium-navbar {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  padding: 18px 0;
  z-index: 999;
}

/* Logo */
.premium-logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #111 !important;
}
.logo-img {
  height: 42px; /* premium size */
  width: auto;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.logo-img:hover {
  transform: scale(1.05);
}
.nav-link.active {
  font-weight: 600;
  color: #000 !important;
}

.nav-link.active::after {
  width: 100%;
}

/* Nav links */
.premium-nav .nav-link {
  font-size: 17px;
  font-weight: 500;
  color: #111 !important;
  margin: 0 15px;
  position: relative;
}

.premium-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #000, #777);
  transition: width 0.4s ease;
}

.premium-nav .nav-link:hover::after {
  width: 100%;
}

/* Social Icons */
.premium-social a {
  font-size: 18px;
  color: #111;
  margin-left: 18px;
  transition: color 0.3s ease;
}

.premium-social a:hover {
  color: #555;
}

/* Premium Mobile Toggle */
.premium-toggler {
  border: none;
  outline: none;
  background: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.premium-toggler span {
  width: 26px;
  height: 2px;
  background: #111;
  border-radius: 10px;
  transition: all 0.4s ease;
}

/* Mobile menu */
@media (max-width: 991px) {
  .premium-nav {
    margin-top: 25px;
  }

  .premium-social {
    margin-top: 20px;
    justify-content: center;
  }
}
