/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face {
  font-family: "MyCustomFont";
  src: url("../public/assests/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sf-pro-font {
  font-family: "MyCustomFont", sans-serif;
  /* font-size: 82px; */
}

@font-face {
  font-family: "sf-medium";
  src: url("../public/assests/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sf-medium-font {
  font-family: "sf-medium", sans-serif;
}