@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  padding-top: 80px;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("../public/assests/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sf-pro-font {
  font-family: "MyCustomFont", sans-serif;
  /* font-size: 82px; */
}

@font-face {
  font-family: "sf-medium";
  src: url("../public/assests/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sf-medium-font {
  font-family: "sf-medium", sans-serif;
}

.funnel-sans {
  font-family: "Funnel Sans", sans-serif;
}
