.hero-section {
  position: relative;
  min-height: 100vh;
  background: url("../../../public/images/hero-section.webp") center/cover
    no-repeat;
  display: flex;
  align-items: center;
  color: #fff;
}

/* Dark overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

/* Subtitle */
.hero-subtitle {
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  font-weight: 500;
}
.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(43, 100, 206, 1) 0%,
    rgba(220, 50, 215, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Title */
.hero-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 30px;
}

/* Services */
.hero-services {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-bottom: 35px;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 500;
}

.service-item svg {
  /* color: #5ddcff; */
  font-size: 18px;
}

/* Button */
.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  background: #4b3fa7;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 15px 40px rgba(75, 63, 167, 0.35);
}

/* Responsive */
@media (max-width: 991px) {
  .hero-title {
    font-size: 46px;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 34px;
  }

  .hero-services {
    gap: 14px;
  }
}
